
body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  }

.box {
    height:100vh;
}

.card__wrapper {
    width: 200px;
    height: 250px;
    perspective: 1000px;
    margin: 10px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.flip {
    transform: rotateY(180deg);
}

.card--front, .card--back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);

    backface-visibility: hidden;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card--front {
    background-color: #FE4880;   
}

.card--back {
    background-color: #FFCE00;
    transform: rotateY(180deg);
}

.card--front h2, .card--back h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.hey {
    width: 800px;
    height: 250px;
    background-color: #FFCE00;
}
